/* Copyright (c) 2016 Salvatore Fiorenza
   license: MIT
   contact: salvatore.fiorenza.8@gmail.com */
html { 
    /*background: url('../img/astronaut.jpg') no-repeat center center fixed; */
    background: url('../img/bridge.jpg') no-repeat center center fixed; 
    /*background: url('../img/celebration.jpeg') no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    background: transparent;
}
.container {
    text-shadow: #000 3px 3px 1px;
    color: #f5f5f5;
    font-weight: 500px;
    margin-top: 25px;
}
.timeValue {
    font-size: 50px;
}
.timeGroup {
    padding: 5px;
}
.container {
    background: rgba(0, 0, 0, .3);
}
